@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

.alert-notice {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-alert {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}